@inherits LayoutComponentBase
@rendermode InteractiveServer
@using Microsoft.Extensions.Localization
@using OutreachFlow.Web
@inject IStringLocalizer<SharedResource> Localizer

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@Localizer["Layout.About"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    @Localizer["Layout.Error.Unhandled"]
    <a href="" class="reload">@Localizer["Layout.Error.Reload"]</a>
    <a class="dismiss">x</a>
</div>
