<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OutreachFlow</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Contacts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="organizations">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Organizations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tags">
                <span class="bi bi-tag-fill-nav-menu" aria-hidden="true"></span> Tags
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sender-profiles">
                <span class="bi bi-person-badge-fill-nav-menu" aria-hidden="true"></span> Sender Profiles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="bi bi-envelope-paper-fill-nav-menu" aria-hidden="true"></span> Templates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attachments">
                <span class="bi bi-paperclip-nav-menu" aria-hidden="true"></span> Attachments
            </NavLink>
        </div>
    </nav>
</div>
